/*comparison.js*/
.phone-comparison {
    display: flex;
    gap: 32px;
    margin-top: 32px;
}

.phone-comparison div p {
    font-family: "Cormorant", serif;
    font-weight: 500;
    font-size: 18.5px;
}

.phone-comparison div h2 {
    font-family: "Cormorant", serif;
    font-weight: 700;
}

.phone-details {
    border: 1px solid #ccc;
    text-align: center;
}

.phone-details img {
    max-width: 150px;
    height: auto;
}

.phone-details ul {
    font-family: "Cormorant", serif;
    list-style-type: none;
}

/*card.js*/
.phone-card.selected {
    background-color: #1e1d42 !important;
    transform: rotate(0deg) !important;
}

.phone-card img {
    max-width: 100px;
    height: auto;
}

.phone-card input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

/**Para las tarjetas**/
.Container-list {
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    display: grid;
    place-content: center;

    .phone-card {
        border: 1px solid #ccc;
        border-top-right-radius: 26px;
        border-bottom-left-radius: 26px;
        text-align: center;
        cursor: pointer;
        position: relative;

        max-width: 15rem;
        color: #ffffffda;
        font-family: "Cormorant", serif;
        padding: 1.5rem;
        background-color: #1D1A6B;

        transform: scale(1);
        opacity: 1;
        transition: all 150ms ease-in-out;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .phone-card h3 {
            position: relative;

            &::before {
                content: "";
                height: 1rem;
                width: 1rem;
                border-radius: 50%;
                background-color: transparent;

                position: absolute;
                right: 0;
            }
        }

        &:nth-child(even) {
            transform: translateY(8px);
        }

        &:nth-child(n) {
            transform: rotate(-5deg);
        }
    }
}

/*stats.js*/

.svg-container {
    position: relative;
    width: 356.25px;
    height: 356.25px;
    overflow: visible;
}

.RadarChart__scale {
    stroke: grey;
    stroke-width: 1;
    fill: none;
}

.RadarChart__axis {
    stroke: grey;
    stroke-width: 1;
    fill: none;
}

.RadarChart__shape {
    fill: url(#blue-gradient);
    fill-opacity: 0.5;
    stroke: url(#blue-gradient);
    stroke-width: 2;
}

.RadarChart__captions {
    font-size: 12px;
    fill: #333;
}

.RadarChart__dot {
    fill: #3c59fc;
    stroke: #fff;
    stroke-width: 2;
    r: 4;
}

.icon-description {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

.icon-description img {
    width: 24px;
    height: 24px;
}

.icon-description p {
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 12px;
}

.stop-0 {
    stop-color: rgb(99, 102, 241);
    stop-opacity: 1;
}

.stop-100 {
    stop-color: rgb(163, 101, 241);
    stop-opacity: 1;
}

.VsIcon__icon___3m84T { 
    fill: black;

    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-bottom: 2px solid #888;
    border-radius: .375rem;
    border-top: none;
    box-sizing: border-box; 
    display: inline;
    height: 34px;
    justify-content: center;
    margin: 0 6px;
    padding: 5px;   
    position: relative;
    width: 36px; 
} 