/*header.js*/
.header-container-style {
    background: #1D1A6B;
    border-radius: 35px;
    max-width: 90%;
    margin-bottom: 15px; 
}

.cormorant-logo-text-style {
    font-family: "Cormorant", serif;
    font-weight: 500;
    font-size: 60px;
    text-decoration: none; 
}

.nav-underline {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
} 
#logo {
    width: 5%;
    height: 5%; 
}

@media (max-width: 1268px) { 
    .header-container-style {
        display: flex;
        flex-direction: column; 
    }

    .cormorant-logo-text-style { 
        font-size: 30px; 
    }
    .link-light{
        font-size: 10px; 
    }
    .icon-header{
        width: 20%;
        height: 20%;
    }
    #logo {
        width: 3.5%;
        height: 3.5%;
    }
}

/*footer.js*/
.footer-container-style {
    background: #1D1A6B; /* Dark background color */ 
    margin-top: 15px;
    border-top: 1px solid rgb(73, 80, 87); /* Border top */  
    
} 
.footer-content {
    max-width: 80%;  
    margin: 0 auto; 
} 
.footer-container-style .col h5 {
    color: white !important;  
}
.footer-container-style .nav-link {
    color: white !important;  
    text-decoration: none !important;
}
.footer-container-style .nav-link:hover {
    color: rgb(124, 124, 124) !important;
}
.footer-container-style .text-body-secondary {
    color: white !important;  
}  
#logo-footer {
    width: 25%;
    height: 35%; 
}