/*header.js*/
.header-container-style {
    background: #1D1A6B;
    border-radius: 35px;
    max-width: 90%;
}

.cormorant-logo-text-style {
    font-family: "Cormorant", serif;
    font-weight: 400;
    font-size: 60px;
    text-decoration: none;
}

.nav-underline {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*footer.js*/
.footer-container-style {
    background: #1D1A6B;
    color: #FFFFFF;
}

/*basic.js*/
.svg-container {
    position: relative;
    width: 356.25px;
    height: 356.25px;   
}

.RadarChart__scale {
    stroke: grey;
    stroke-width: 1; 
}

.RadarChart__axis {
    stroke: grey;
    stroke-width: 1; 
}

.RadarChart__shape {
    fill: url(#blue-gradient);
    fill-opacity: 0.5;
    stroke: url(#blue-gradient);
    stroke-width: 2;
}

.RadarChart__captions {
    font-size: 12px;
    fill: #333;
}

.RadarChart__dot {
    fill: #3c59fc;
    stroke: #fff;
    stroke-width: 2;
    r: 4;
}

.icon-description {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
}

.icon-description img {
    width: 24px;
    height: 24px;
}

.icon-description p { 
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 12px;
}

.stop-0 {
    stop-color: rgb(99,102,241);
    stop-opacity: 1;
}

.stop-100 {
    stop-color: rgb(163,101,241);
    stop-opacity: 1;
}